a{
    text-decoration: none;
}
p,h1,h2,h3,h4,h5,h6,body{
    margin: 0;
}
.btn{
    border: none;
    background-color: transparent;
}
input[type=text],input[type=email],input[type=number]{
    border: none;
    outline: none;
    background-color: transparent;
}

input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }